<!DOCTYPE html>
<html lang="en" ng-app="podBooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PodBooth</title>
    <!-- Favicon -->
    <meta content="/favicon.ico" itemprop="image">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Font for Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/vendor/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/materialize/dist/js/materialize.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/authentication.service.js"></script>
    <script src="/scripts/services/data.service.js"></script>
    <script src="/scripts/directives/navigation.directive.js"></script>
    <script src="/scripts/controllers/home.controller.js"></script>
    <script src="/scripts/controllers/login.controller.js"></script>
    <script src="/scripts/controllers/navigation.controller.js"></script>
    <script src="/scripts/controllers/profile.controller.js"></script>
    <script src="/scripts/controllers/register.controller.js"></script>
    <script src="/scripts/controllers/logout.controller.js"></script>
    <script src="/scripts/controllers/podcasts.controller.js"></script>
    <script src="/scripts/controllers/podcastNew.controller.js"></script>
    <script src="/scripts/directives/podcast.directive.js"></script>
    <script src="/scripts/controllers/podcastShow.controller.js"></script>
  </head>
  <body>
    <navigation></navigation>
    <div class="container">
      <div class="title">
        <img class="logo" ng-src="/images/podbooth-icon.png">
        <h1>PodBooth</h1>
      </div>
      <div ng-view></div>
    </div>
  </body>
</html>
