<!DOCTYPE html>
<html lang="en" ng-app="podBooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PodBooth</title>
    <!-- Favicon -->
    <meta content="/favicon.ico" itemprop="image">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Font for Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/vendor/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/materialize/dist/js/materialize.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-materialize/src/angular-materialize.js"></script>
    <script src="/vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/vendor/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor2/ng-infinite-scroll/build/ng-infinite-scroll.js"></script>
    <script src="/vendor/moment/moment.js"></script>
    <script src="/vendor/angular-moment/angular-moment.js"></script>
    <script src="/vendor/msr/MediaStreamRecorder.js"></script>
    <script src="/vendor/angular-truncate-2/src/angular-truncate-2.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/authentication.service.js"></script>
    <script src="/scripts/services/data.service.js"></script>
    <script src="/scripts/services/socket.service.js"></script>
    <script src="/scripts/directives/navigation.directive.js"></script>
    <script src="/scripts/controllers/home.controller.js"></script>
    <script src="/scripts/controllers/login.controller.js"></script>
    <script src="/scripts/controllers/navigation.controller.js"></script>
    <script src="/scripts/controllers/profile.controller.js"></script>
    <script src="/scripts/controllers/register.controller.js"></script>
    <script src="/scripts/controllers/registerUpdate.controller.js"></script>
    <script src="/scripts/controllers/logout.controller.js"></script>
    <script src="/scripts/controllers/podcasts.controller.js"></script>
    <script src="/scripts/controllers/podcast.controller.js"></script>
    <script src="/scripts/controllers/podcastNew.controller.js"></script>
    <script src="/scripts/controllers/podcastUpdate.controller.js"></script>
    <script src="/scripts/controllers/comments.controller.js"></script>
    <script src="/scripts/controllers/comment.controller.js"></script>
    <script src="/scripts/controllers/podcastShow.controller.js"></script>
    <script src="/scripts/controllers/stream.controller.js"></script>
    <script src="/scripts/controllers/streamControls.controller.js"></script>
    <script src="/scripts/directives/podcast.directive.js"></script>
    <script src="/scripts/directives/comments.directive.js"></script>
    <script src="/scripts/directives/comment.directive.js"></script>
    <script src="/scripts/directives/stream.directive.js"></script>
    <script src="/scripts/directives/streamControls.directive.js"></script>
  </head>
  <body>
    <navigation></navigation>
    <div class="container">
      <div ng-view></div>
    </div>
  </body>
</html>
