<div class="title">
  <img class="logo" ng-src="/images/podbooth-icon.png">
  <h1>PodBooth</h1>
</div>
<p class="flow-text">PodBooth is a tool for getting a first listen on your favorite podcasts and giving live feedback to make them even better!</p>
<div class="parallax-container">
    <div parallax><img ng-src="/images/podcasting.jpg"></div>
</div>
<div class="section">
  <h2>Great for creators</h2>
  <div class="row homepage">
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">view_list</i>
        </div>
        <div class="card-content">
          <p class="flow-text">List your Podcast and get subscribers</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">flash_on</i>
        </div>
        <div class="card-content">
          <p class="flow-text">Go live while interviewing or otherwise recording</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">comment</i>
        </div>
        <div class="card-content">
          <p class="flow-text">Receive helpful comments from your subscribers</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
    <div parallax><img ng-src="/images/engaging.jpg"></div>
</div>
<div class="section">
  <h2>Great for listeners</h2>
  <div class="row homepage">
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">people</i>
        </div>
        <div class="card-content">
          <p class="flow-text">Subscribe to your favorite podcasts</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">headset</i>
        </div>
        <div class="card-content">
          <p class="flow-text">Listen in on the live recording</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 homepage">
      <div class="card homepage">
        <div class="card-image">
          <i class="material-icons">comment</i>
        </div>
        <div class="card-content">
          <p class="flow-text">Make it even better. Upvote the best comments & offer your own</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <h2>Get started today!</h2>
  <h3><a ng-href="/register" class="subscribed">Create an account</a></h3>
</div>
