<ul id="dropdown1" class="dropdown-content">
  <li ng-hide="isLoggedIn"><a ng-href="/login">Login</a></li>
  <li ng-hide="isLoggedIn"><a ng-href="/register">Sign Up</a></li>
  <li ng-show="isLoggedIn"><a ng-href="/profile">{{ currentUser.name }}'s Profile</a></li>
  <li ng-show="isLoggedIn"><a ng-href="/logout">Logout</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a ng-href="/podcasts">Discover</a></li>
  <li ng-show="isLoggedIn"><a ng-href="/podcast/new">Create Podcast</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo">
      <img class="logo" ng-src="/images/podbooth-icon.png">
      PodBooth
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#" data-activates="dropdown2" ui-jq="dropdown" ui-options="navvm.dropDownConfig()">Podcasts<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#" data-activates="dropdown1" ui-jq="dropdown" ui-options="navvm.dropDownConfig()"><i class="material-icons">perm_identity</i><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
