<nav>
  <div class="nav-wrapper">
    <a href="home" class="brand-logo">
      <img class="logo" ng-src="/images/podbooth-icon.png">
      PodBooth
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-href="podcasts">Discover</a></li>
      <li ng-hide="navvm.isLoggedIn"><a ng-href="login">Login</a></li>
      <li ng-hide="navvm.isLoggedIn"><a ng-href="register">Sign Up</a></li>
      <li ng-show="navvm.isLoggedIn"><a ng-href="profile">{{ navvm.currentUser.name }}</a></li>
      <li ng-show="navvm.isLoggedIn"><a ng-href="logout">Logout</a></li>
    </ul>
  </div>
</nav>
