<div class="main-wrapper">
  <div class="lift-page">
    <div class="row">
      <div ng-repeat="podcast in vm.podcast">
        <podcast></podcast>
      </div>
    </div>
    <comments ng-if="currentUser && vm.isLive && (vm.subscribed(vm.podcast[0]) || vm.isOwner)" podcast="vm.podcast[0]"></comments>
    <div ng-if="currentUser" ng-show="vm.isOwner || (vm.subscribed(vm.podcast[0]) && vm.isLive )" ng-class="{'sticky':!scrolledLow}" class="valign-wrapper bottom">
      <div class="controls center-align">
        <a ng-show="vm.isOwner && vm.isLive" class="btn btn-floating recording-symbol pulse"></a>
        <button ng-show="vm.isOwner && !vm.isLive"  class='waves-effect waves-light btn' data-target='demoModal' modal>Go Live</button>
        <button ng-show="vm.isOwner && vm.isLive" ng-click="vm.endBroadcast()" class="waves-effect waves-light btn">End Broadcast</button>
        <stream ng-if="currentUser && vm.subscribed(vm.podcast[0]) && !vm.isOwner && vm.isLive" podcast="vm.podcast[0]" ></stream>
        <stream-controls ng-if="vm.isOwner && vm.isLive"></stream-controls>
      </div>
    </div>
  </div>
</div>
<!-- Modal Trigger -->
<div class="col">
</div>
<!-- Modal Structure -->
<div ng-if="currentUser" ng-show="vm.isOwner" id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Wear some headphones</h4>
        <div class="helpful"><i class="material-icons">headset</i> </div>
        <p>Unless you have an external mic set up, we're going to record using your built in microphone. To avoid a loud and unpleasant bit of feedback, be sure to wear headphones, or mute your speakers.</p>
    </div>
    <div class="modal-footer">
        <button ng-click="vm.createBroadcast()" class="waves-effect waves-light btn modal-close">I'm Ready!</button>
        <a href="#!" class="left modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
