<div class="row search">
  <div class="col s12 m6 offset-m6 l4 offset-l8 xl3 offset-xl9 full-height">
    <form class="col s12">
      <div class="input-field searchbar">
        <input type="search" class="form-control hidden" ng-model="searchText" placeholder="Search Podcasts">
        <label class="label-icon right" for="search"><i class="material-icons left">search</i></label>
        <i class="material-icons" ng-click="searchText=''">close</i>
      </div>
    </form>
  </div>
</div>
<div class="parallax-container hero-container">
    <div parallax><img ng-src="/images/podcasting.jpg" class="hero"></div>
</div>
<h2 class="overlay">Discover podcasts</h2>
<div class="row">
  <div class="col s12">
    <div ng-repeat="podcast in vm.podcasts | filter: searchText | orderBy: '-subscribers.length' | limitTo:vm.showAmount">
      <podcast></podcast>
    </div>
    <div ng-if="vm.podcasts.length>0 && vm.showAmount<vm.podcasts.length" infinite-scroll="vm.showMore()"></div>
  </div>
</div>
