<div class="main-wrapper">
  <div class="lift-page">
    <div class="row">
      <div ng-repeat="podcast in vm.podcast">
        <podcast></podcast>
      </div>
    </div>
    <div ng-if="currentUser" ng-show="vm.isOwner || (vm.subscribed(vm.podcast[0]) && vm.isLive )" class="sticky-bottom valign-wrapper">
      <div class="controls center-align">
        <a ng-show="vm.isOwner && vm.isLive" class="btn btn-floating recording-symbol pulse"></a>
        <button ng-show="vm.isOwner && !vm.isLive" ng-click="vm.createBroadcast()" class="waves-effect waves-light btn">Go live!</button>
        <button ng-show="vm.isOwner && vm.isLive" ng-click="vm.endBroadcast()" class="waves-effect waves-light btn">End Broadcast</button>
        <stream ng-if="currentUser && vm.subscribed(vm.podcast[0]) && !vm.isOwner && vm.isLive" podcast="vm.podcast[0]" ></stream>
        <stream-controls ng-if="vm.isOwner && vm.isLive"></stream-controls>
      </div>
    </div>
    <comments ng-if="currentUser && vm.isLive && (vm.subscribed(vm.podcast[0]) || vm.isOwner)" podcast="vm.podcast[0]"></comments>
  </div>
</div>
