<div class="row">
  <div class="col m6 offset-m3">
    <h2>Update Podcast</h2>
    <form name="revisedPodcast" ng-submit="vm.updatePodcast()">
      <div>
        <label for="name" class="left">Name</label>
        <input type="text" id="name" placeholder="What's your podcast called?" ng-model="vm.revisedPodcast.name" ng-required="true">
      </div>
      <div>
        <label for="description" class="left">Description</label>
        <textarea type="text" class="materialize-textarea" id="description" placeholder="What's your podcast about?" ng-model="vm.revisedPodcast.description" ng-required="true"></textarea>
      </div>
      <div>
        <label for="website" class="left">Website</label>
        <input type="url" id="website" placeholder="What's your podcast's website? eg. http://www.example.com" ng-model="vm.revisedPodcast.website" ng-required="true">
      </div>
      <div>
        <label for="image" class="left">Image</label>
        <div ng-hide="files || vm.revisedPodcast.image" ngf-drop="vm.fileSelected($files)" ngf-max-size="20MB" ngf-min-height="250" ngf-resize="{width:250, height: 250, centerCrop: true}" id="image" class="drop-box" ngf-drag-over-class="'dragover'" accept="'image/*'" ng-model="files">
          Drag image or click to select
        </div>
        <div class="preview">
          <span ng-show="files || vm.revisedPodcast.image " ng-click="vm.removeFile($event)" class="clickable">
            <img ng-if="!files" ng-show="vm.revisedPodcast.image" ng-src="{{vm.revisedPodcast.image}}">
            <img ng-if="files" ngf-thumbnail="files">
            <i class="material-icons side-buttons subscribed">clear</i>
          </span>    
        </div>
        </div>
      <input type="hidden" ng-model="vm.revisedPodcast.image" ng-required="true">
      <button ng-disabled="!revisedPodcast.$valid" type="submit" class="btn btn-default">Update Podcast</button>
    </form>
  </div>
</div>
