<div class="profile-wrapper">
  <div class="row">
    <div class="col m4 s12">
      <a ng-href="/updateaccount" class="profile">
        <div class="card profile">
          <span class="side-buttons"><i class="material-icons">mode_edit</i></span>
          <div class="card-image">
            <img ng-src="{{vm.user.avatar}}">
          </div>
          <div class="card-content">
            <span class="card-title">{{ vm.user.name }}</span>
            <p>{{ vm.user.email }}</p>
          </div>
        </div>
      </a>
    </div>
    <div ng-show="vm.user.ownedPodcasts.length>0">
      <div class="divider"></div>
      <div class="col m8 s12">
        <div ng-show="vm.user.ownedPodcasts.length>0" class="section">
          <h4>Your Podcasts</h4>
          <div>
            <span ng-repeat="podcast in vm.user.ownedPodcasts" class="thumb-container profile">
              <a ng-href="/podcasts/{{podcast._id}}" class="hoverable image-contained">
                <img ng-src="{{podcast.image}}" class="thumbnail">
              </a>
            </span>
          </div>
        </div>
        <div ng-show="vm.user.subscribedPodcasts.length>0" class="section">
          <div class="divider"></div>
          <h4>Subscriptions</h4>
          <div>
            <span ng-repeat="podcast in vm.user.subscribedPodcasts" class="thumb-container profile">
              <a ng-href="/podcasts/{{podcast._id}}" class="hoverable image-contained">
                <img ng-src="{{podcast.image}}" class="thumbnail">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
