<div class="row">
  <div class="col m6 offset-m3">
    <h2>Sign Up</h2>
    <form name="newUser" ng-submit="vm.onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="What's your name?" ng-model="vm.credentials.name" ng-required="true">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="What's your email?" ng-model="vm.credentials.email" ng-required="true">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Choose a password" ng-model="vm.credentials.password" ng-required="true">
      </div>
      <div>
        <label for="avatar" class="left">Profile Picture</label>
        <div ng-hide="files" ngf-drop="vm.fileSelected($files)" ngf-max-size="20MB" ngf-min-height="250" ngf-resize="{width:250, height: 250, centerCrop: true}" id="image" class="drop-box" ngf-drag-over-class="'dragover'" accept="'image/*'" ng-model="files" ng-required="true">
          Drag image or click to select
        </div>
        <img ng-if="files" ngf-thumbnail="files">
        <button ng-show="files" class="btn btn-default" ng-click="vm.removeFile($event)">Remove</button>
      </div>
      <button ng-disabled="!newUser.$valid" type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>
