<div class="row">
  <div class="col m6 offset-m3">
    <h2>Sign Up</h2>
    <form ng-submit="vm.onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="What's your name?" ng-model="vm.credentials.name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="What's your email?" ng-model="vm.credentials.email">
      </div>
      <div>
        <label for="avatar" class="left">Profile Picture</label>
        <input type="file" id="avatar" ngf-select="vm.fileSelected($files)" accept="'image/*'" placeholder="Give your podcast an image" ng-model="vm.credentials.avatar">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Choose a password" ng-model="vm.credentials.password">
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>
