body {
  color:black;
  text-align: center;
  min-width: 320px;
}

main {
  position: relative;
  padding-top: 64px;
  min-height:80vh;
}

.logo {
  height:75px;
  vertical-align: bottom;
}

.title {
  margin: 35px auto;
}

h1 {
  display: inline;
}

.brand-logo {
  left:0;
}

nav .logo {
  height:54px;
  vertical-align: middle;
}

nav {
  background-color: rgba(0,0,0,1);
  position: fixed;
  top:0;
  z-index:999;
  min-width: 320px;
}

nav ul a:hover, .side-nav li>a:hover, .side-nav .collapsible-header:hover, .side-nav .collapsible-body li>a:hover, .side-nav.fixed .collapsible-body li>a:hover {
    background-color: rgba(0,200,170,1);
}

.side-nav.fixed .collapsible-header, .side-nav .collapsible-header, .side-nav li>a  {
  background: rgba(0,0,0,1);
  color:white;
}

.side-nav .collapsible-body li>a, .side-nav.fixed .collapsible-body li>a{
  background: rgba(0,0,0,0.8);
  color:white;
}

.side-nav {
  width:90vw;
  max-width: 300px;
  min-width: 200px;
}

.short-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
}

.left.block {
  display: block;
  float: none !important
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 70%;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto 20px auto;
    color: #9e9e9e;
    font: inherit;
    position: relative;
    top:20px;

}
.dragover {
    border: 5px dashed rgba(0,200,170,1);
}

 .card.horizontal .card-image img.pod-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
  padding:10px;
  margin: 24px auto 0 auto;
  width:100%;
}

.hidden {
  display: none;
}

.thumbnail {
  height:45px;
  width: 45px;
}

.card.horizontal .card-image img.pod-image.thumbnail {
  height:175px;
  width:175px;
}

.card.horizontal .card-image {
  max-width: 100%;
}

.card .card-content {
  padding: 24px 0;
}

.thumbail-wrapper {
  height:64px;
}

nav ul a {
  display: flex;
}

.full-height {
  display:flex;
}

.search {
  position: fixed;
  top:64px;
  right:0;
  width: 100%;
  z-index: 100;
}

.input-field input[type=search].hidden {
  opacity: 0;
  transition: all 0.5s;
  position: relative;
}

.input-field:hover input[type=search].hidden {
  opacity: 1;
  background:white;

}
.input-field input[type=search].hidden:focus {
  opacity: 1;
  background: white;
}

.input-field label.right, .input-field input[type=search]+label {
  right:0;
  left: 90%;
  transition: all 0.4s;
  height: 100%;
  top:0;
  width:4rem;
}

.input-field input[type=search] {
  padding-left: 3rem;
  width: calc(100% - 3rem);
}

.input-field:hover label.right, .input-field input[type=search]:focus+label {
  left:0;
  right:200px;
  z-index: 100;
}

.searchbar label .material-icons.left {
  background: white;
  line-height: inherit;
}

.searchbar .material-icons {
  height:100%;
  padding-top: 5px;
}

.side-buttons {
  position: absolute;
  top:24px;
  right:0;
}

.btn-flat {
  padding: 0 1rem;
}

.btn-flat:hover {
  background-color: rgba(0,200,170,.5);
}

.row .col.inside-card {
  margin-left: 0;
}

.clickable, .toast {
  cursor: pointer;
}

.unclickable {
  cursor: default;
}

.card .card-content p.subscribed, .subscribed, .card .card-action a.subscribed:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: rgba(0,200,170,1);
}

.subscriber-icon, .public .material-icons {
  vertical-align: bottom;
}

.comment {
  text-align: left;
  overflow: auto;
}

.collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.profile {
  text-align: left;
}

.main-wrapper {
  padding-top: 50px;
}

.image-contained {
  position: absolute;
  width: 45px;
  height: 45px;
}

.thumb-container, .col.s3.thumb-container {
  height: 45px;
  width:45px;
  padding:0;
  margin: 2%;
  display: inline-block;
}

.card.profile {
  max-width: 230px;
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
}

.card.profile .side-buttons, .preview .side-buttons {
  visibility: hidden;
  opacity: 0;

}

.card.profile:hover .side-buttons, .preview:hover .side-buttons {
  opacity: 1.0;
  visibility: visible;
  top:0;
  transition: opacity .3s;
}

.card.profile:hover .card-image img {
  transition: opacity .3s;
  opacity: 0.9;
}

.card.profile .card-image img {
  border-radius: 50%;
  opacity: 1;
}

a.profile {
  color:black;
}

.preview {
  position: relative;
  display: inline-block;
}

.preview img {
  opacity: 1.0;
}

.preview img:hover {
  transition: opacity .3s;
  opacity: 0.9;
}

.bottom.valign-wrapper {
  width: 100%;
  background: rgba(0,0,0,.8);
  height:50px;
  text-align: center;
  left:0;
  position: absolute;
  min-width: 380px;
}

.bottom .controls {
  text-align: center;
  margin: 0 auto;
  z-index:999;
  height:100%;
}

.controls.center-align .valign-wrapper {
  height: 100%;
  margin-left: 0;
}

.stream .valign-wrapper {
  height: 100%;
}

.stream span, .stream i {
  display: inline-block;
}

.stream i.fa {
  padding: 0 20px;
  vertical-align: middle;
}

.owner button:not(.btn-flat) {
  margin-right: 20px;
}

.stream .nouislider {
  width: 250px;
  vertical-align: middle;
}

.sticky.bottom.valign-wrapper {
  position: fixed;
  bottom: 0;
}

.recording-symbol {
  background-color:red;
  color:red;
  vertical-align: middle;
  width:25px;
  height:25px;
  margin: 0 10px;
}

.controls .owner {
  padding: 8px 0;
  display: contents;
}

.stream .no-break {
  min-width: 300px;
  height:50px;
}

.lift-page {
  padding-bottom:50px;
}

.lift-page:not(.live) .row:not(.podcastShow) {
  min-height: 46vh ;
}

.parallax-container img {
  width:100%;
}

.parallax-container {
  min-width: 320px;
  z-index: -1;
}

.row.homepage, .row.podcastShow {
    display: flex;
}

@media only screen and (max-width: 600px) {
  .row.homepage, .row.podcastShow {
      display: block;
  }
  nav .logo {
    height:50px;
  }

  .row.search {
    top:56px;
    left:0;
    width:unset;
    background:white;
    height:70px;
  }

  .input-field label.right, .input-field input[type=search]+label {
    right:200px;
    left: 0;
  }

  .input-field input[type=search].hidden {
    opacity: 1;
  }

  .parallax-container.hero-container {
    top: calc(70px - 40px) !important;
  }

  main.watch-search {
    padding-top: calc(64px + 70px);
  }

}

@media only screen and (max-width:719px) {
    .owner:not(.display-fix), .stream {
      display: block;
    }
    .lift-page.owner.live {
      padding-bottom:100px;
    }
    .bottom.valign-wrapper.owner.live {
      height:100px;
    }

    .controls div.owner span.owner {
      height: 50px;
      margin-top: 8px;
    }

    .controls.live .owner {
      padding: unset;
    }
}

@media only screen and (max-width:474px) {
  .bottom.valign-wrapper.owner.live {
    height:150px;
  }
  .lift-page.owner.live {
    padding-bottom:150px;
  }
  .owner span .stream span {
    margin:4px 0;
  }

}


.col.homepage, .col.podcastShow {
  display:inline-block;
  vertical-align: top;
}

.card.homepage {
  height:100%;
}

.card.homepage .card-content {
  padding: 24px;
}

.card.homepage .card-image {
  height:100px;
  padding-top: 20px;
}

.card.homepage .card-image .material-icons, .helpful .material-icons {
  font-size: 60px;
}

.parallax-container.hero-container .parallax {
  background-color:rgba(0,0,0,1);
}

.parallax-container.hero-container {
  position: absolute;
  left:0;
  top:-40px;
  margin:0;
  height:350px;
  width:100%;
}

.parallax-container.hero-container img {
  opacity: 0.8;
}

.form-page .parallax-container {
  position: absolute;
  width: 100%;
  height:100%;
  left:0;
  top: 0;
}

h2.overlay {
  color:white;
  padding: 50px 0;
}

.borderless {
  box-shadow: none;
}

.public {
  color: black;
  transition: color .25s;
}

.public:hover {
  color: rgba(0,200,170,1);
}

.justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.page-footer {
  height: 20vh;
  min-height: 220px;
  display: table;
  width: 100%;
}
.page-footer, .page-footer .footer-copyright {
  background-color: rgba(0,0,0,.9);
}

footer li {
  font-size: 20px;
  display: inline-block;
  padding: 0 8px;
}

.form-container {
  min-width: 320px;
  margin-top:25px;
  margin-bottom:25px;
  background:white;
}

.form-container form input, .form-container form textarea {
  text-align: center;
}

.form-container form button {
  margin-bottom: 25px;
}

.form-page .row {
  margin-bottom: 0px;
}

#toast-container .toast.hide-toast {
  opacity: 0 !important;
  margin-top: -40px;
  transition: all 0.375s;
}

.col.unset .fa.subscribed {
  padding: 0 5px;
}

.helpful .fa {
  padding: 0 5px;
}

a.subscribed:hover, a .subscribed:hover {
  color: rgba(0,200,170,.8);
}
