body {
  color:black;
  text-align: center;
}

.logo {
  height:75px;
  vertical-align: bottom;
}

.title {
  margin: 35px auto;
}

h1 {
  display: inline;
}

.brand-logo {
  left:0;
}

nav .logo {
  height: 55px;
  vertical-align: middle;
}

nav {
  background-color: rgba(0,0,0,.8);
}

nav ul a:hover {
    background-color: rgba(0,200,170,1);
}

.short-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    color: #9e9e9e;
    font: inherit;
}
.dragover {
    border: 5px dashed blue;
}

 .card.horizontal .card-image img.pod-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;

}
