body {
  color:black;
  text-align: center;
  position: relative;
  top: 64px;
  min-width: 230px;
}

.logo {
  height:75px;
  vertical-align: bottom;
}

.title {
  margin: 35px auto;
}

h1 {
  display: inline;
}

.brand-logo {
  left:0;
}

nav .logo {
  height: 55px;
  vertical-align: middle;
}

nav {
  background-color: rgba(0,0,0,1);
  position: fixed;
  top:0;
  z-index:999;
}

nav ul a:hover, .side-nav li>a:hover, .side-nav .collapsible-header:hover, .side-nav .collapsible-body li>a:hover, .side-nav.fixed .collapsible-body li>a:hover {
    background-color: rgba(0,200,170,1);
}

.side-nav.fixed .collapsible-header, .side-nav .collapsible-header, .side-nav li>a  {
  background: rgba(0,0,0,1);
  color:white;
}

.side-nav .collapsible-body li>a, .side-nav.fixed .collapsible-body li>a{
  background: rgba(0,0,0,0.8);
  color:white;
}


.short-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  text-align: left;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    color: #9e9e9e;
    font: inherit;
}
.dragover {
    border: 5px dashed blue;
}

 .card.horizontal .card-image img.pod-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
  padding:10px;
  margin: 24px auto 0 auto;
  width:100%;
}

.hidden {
  display: none;
}

.thumbnail {
  height:45px;
  width: 45px;
}

.card.horizontal .card-image img.pod-image.thumbnail {
  height:175px;
  width:175px;
}

.card.horizontal .card-image {
  max-width: 100%;
}

.card .card-content {
  padding: 24px 0;
}

.thumbail-wrapper {
  height:64px;
}

nav ul a {
  display: flex;
}

.full-height {
  display:flex;
}

.search {
  position: fixed;
  top:64px;
  right:0;
  width: 100%;
  z-index: 100;
}

.input-field input[type=search].hidden {
  opacity: 0;
  transition: all 0.5s;
  position: relative;
}

.input-field:hover input[type=search].hidden {
  opacity: 1;
  background:white;

}
.input-field input[type=search].hidden:focus {
  opacity: 1;
  background: white;
}

.input-field label.right, .input-field input[type=search]+label {
  right:0;
  left: 200px;
  transition: all 0.4s;
}

.input-field:hover label.right, .input-field input[type=search]:focus+label {
  left:0;
  right:200px;
  z-index: 100;
}

.side-buttons {
  position: absolute;
  top:24px;
  right:0;
}

.btn-flat {
  padding: 0 1rem;
}

.btn-flat:hover {
  background-color: rgba(0,200,170,.5);
}

.row .col.inside-card {
  margin-left: 0;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: default;
}

.card .card-content p.subscribed, .subscribed, .card .card-action a.subscribed:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: rgba(0,200,170,1);
}

.subscriber-icon, .public .material-icons {
  vertical-align: bottom;
}

.comment {
  text-align: left;
  overflow: auto;
}

.collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.profile {
  text-align: left;
}

.main-wrapper {
  padding-top: 50px;
}

.image-contained {
  position: absolute;
  width: 45px;
  height: 45px;
}

.thumb-container, .col.s3.thumb-container {
  height: 45px;
  width:45px;
  padding:0;
  margin: 5%;
  display: inline-block;
}

.card.profile {
  max-width: 230px;
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
}

.card.profile .side-buttons, .preview .side-buttons {
  visibility: hidden;
  opacity: 0;

}

.card.profile:hover .side-buttons, .preview:hover .side-buttons {
  opacity: 1.0;
  visibility: visible;
  top:0;
  transition: opacity .3s;
}

.card.profile:hover .card-image img {
  transition: opacity .3s;
  opacity: 0.9;
}

.card.profile .card-image img {
  border-radius: 50%;
  opacity: 1;
}

a.profile {
  color:black;
}

.preview {
  position: relative;
  display: inline-block;
}

.preview img {
  opacity: 1.0;
}

.preview img:hover {
  transition: opacity .3s;
  opacity: 0.9;
}

.sticky-bottom.valign-wrapper {
  position: fixed;
  left:0;
  bottom: 0;
  width: 100vw;
  background: rgba(0,0,0,.8);
  height:50px;
  text-align: center;
}

.sticky-bottom .controls {
  text-align: center;
  margin: 5px auto;
  z-index:999;
}

.recording-symbol {
  background-color:red;
  color:red;
  vertical-align: middle;
  width:25px;
  height:25px;
  margin: 0 10px;
}

.lift-page {
  margin-bottom:50px;
  padding-bottom:10px;
}

.parallax-container img {
  width:100%;
}

.row.homepage, .row.podcastShow {
    display: flex;
}

@media only screen and (max-width: 600px) {
  .row.homepage {
      display: block;
  }
}

.col.homepage, .col.podcastShow {
  display:inline-block;
  vertical-align: top;
}

.card.homepage {
  height:100%;
}

.card.homepage .card-content {
  padding: 24px;
}

.card.homepage .card-image {
  height:100px;
  padding-top: 20px;
}

.card.homepage .card-image .material-icons {
  font-size: 60px;
}

.parallax-container.hero-container .parallax {
  background-color:rgba(0,0,0,1);
}

.parallax-container.hero-container {
  position: absolute;
  left:0;
  top:-40px;
  margin:0;
  height:350px;
  width:100vw;
}

.parallax-container.hero-container img {
  opacity: 0.8;
}

h2.overlay {
  color:white;
  padding: 50px 0;
}

.borderless {
  box-shadow: none;
}

.public {
  color: black;
  transition: color .25s;
}

.public:hover {
  color: rgba(0,200,170,1);
}

.justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
